@mixin logo-theme($theme) {
    font-family: 'Gilroy', 'Roboto', sans-serif;
    color: var(--+$theme+-logo);
}
@mixin center-align {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header {
    @include center-align;
    justify-content: space-between;
    .header_btns {
        @include center-align;
    }
    .header_btns > div {
        margin-left: 24px;
    }
}
[class*="theme__light"] {
    .header_logo {
        @include logo-theme(lt)
    }
}
[class*="theme__dark"] {
    .header_logo {
        @include logo-theme(dt)
    }
}

@media (max-width: 1080px) {
    .header {
        width: 100%;
        .header_btns > div {
            margin-left: 8px;
        }
    }
}
@media (max-width: 375px) {
    .header {
        flex-direction: column;
        gap: 16px;
    }
}