.keyboard {
    color: black;
    display: flex;
    align-content: center;
    flex-flow: row wrap;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
}

.keyboard > .keyboard_key {
    margin: 8px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    text-align: center;
}
.keyboard > .keyboard_key__green {
    background: var(--light-theme-green-key);
}
.keyboard > .keyboard_key__green:hover {
    background: var(--light-theme-green-key__hovered);
}

.keyboard > .keyboard_key__yellow {
    background: var(--light-theme-yellow-key);
}
.keyboard > .keyboard_key__yellow:hover {
    background: var(--light-theme-yellow-key__hovered);
}

.keyboard > .keyboard_key__gray {
    background: var(--light-theme-gray-key);
}
.keyboard > .keyboard_key__gray:hover {
    background: var(--light-theme-gray-key__hovered);
}

.keyboard > .keyboard_key__white {
    background: var(--light-theme-white-key);
}
.keyboard > .keyboard_key__white:hover {
    background: var(--light-theme-white-key__hovered);
}