.rules-box {
    text-align: left;
}
.rules-box_example {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rules-box_example div {
    margin: 6px;
}
.rules-box_example p {
    margin-left: 16px;
}