.game {
    transition: .4s;
    padding-top: 24px;
    height: 100vh;
}
.game-container {
    width: 960px;
    text-align: center;
    margin: 0 auto;
}

.game.dark-theme {
    background: var(--dark-theme-background);
}
.game.light-theme {
    background: var(--light-theme-background);
}