.toggle-difficulty {
    height: 37px;
}
.toggle-difficulty_btn {
    border: none;
    width: 32px;
    cursor: pointer;
    transition: .2s;
    font-weight: bold;
    font-size: 16px;
}
.toggle-difficulty_btn.side_left {
    border-radius: 8px 0 0 8px;
}
.toggle-difficulty_btn.side_right {
    border-radius: 0 8px 8px 0;
}
.toggle-difficulty {
    display: flex;
    flex-direction: row;
}
.toggle-difficulty_label {
    width: 128px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* light-theme */
.light-theme .toggle-difficulty_btn {
    background: var(--light-theme-btn-background);
    color: var(--light-theme-text-color);
}
.dark-theme .toggle-difficulty_btn:hover {
    background: var(--light-theme-btn-background-hovered);
}
.light-theme .toggle-difficulty_label {
    background: var(--light-theme-slide-background);
}
/* dark-theme */
.dark-theme .toggle-difficulty_btn {
    background: var(--dark-theme-btn-background);
    color: var(--dark-theme-text-color);
}
.dark-theme .toggle-difficulty_btn:hover {
    background: var(--dark-theme-btn-background-hovered);
}
.dark-theme .toggle-difficulty_label {
    background: var(--dark-theme-slide-background);
}