.field {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-column-gap: 10px;
    padding: 5px;
    margin: auto;
}

.rows-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 24px;
}
.enter_btn {
    margin: 24px 0;
    padding: 16px 24px;
    border: none;
    font-family: "Roboto Light";
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}
