.container {
    display: grid;
    gap: 24px;
    .text {
        font-family: 'Inter', sans-serif, 'Roboto';
        font-weight: 100;
        font-size: 18px;
    }
    .btn_container {
        display: flex;
        justify-content: center;
        > * {
            margin: 6px;
        }
    }
}