.App {
  transition: .4s;
  padding-top: 24px;
  height: 100vh;
}
.app-container {
  width: 960px;
  text-align: center;
  margin: 0 auto;
}

.App.dark-theme {
  background: var(--dark-theme-background);
}
.App.light-theme {
  background: var(--light-theme-background);
}
