* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', Inter-Regular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e1e0dd;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}